* {
    box-sizing: border-box;
    background-color: white;
}

html {
    height:100%;
}

body {
    display: flex;
    flex-direction: column;
    height:100%;
}

.chart-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.company-logo {
    height: auto;
    width: 120px;
}

.min-120px {
    min-height: 120px;
}

