* {
    box-sizing: border-box;
}
body, html{
    height: 100%;
}

.ulList {
    list-style: none;
}

.logo-companies {
    height: 30px;
    width: auto;
}

.logo {
    background-image: url("../images/itc.png");
    background-position: center;
    background-size: cover;
    width: 80px;
    height: 80px;
    border-radius: 100px;
}

.highlight {
    background-color: yellow;
}

.marquee-wrapper {
    width: min-content;
}

#marquee {
    animation: marquee 800s linear infinite;
    position: relative;
}

body {
    overflow-x: hidden;
}

@keyframes marquee {
    0% {
        left: 0;
    }
    100% {
        left: -100%
    }
}

/* .progress-bar{
    animation: all .2s linear;
} */